body {
    text-align: center;
    position: relative;
}

#container{
	position: relative;
	text-align: center;
}

#winner{
	position: absolute;
	top: 28%;
	left: 41%;
	font-size: 3em;
	background-color:#E6E6E6  ;
	opacity: 0.8;
	display: none;
}
input{
	width: 3em;
	font-size: 1em;
	background: #408002;
}
