html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;

}


html,
body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}


body {

    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;

}


.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


h1 {

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}


.stop-watch{

    float: left;
    width: 40%;

}


/*
 * Styles for the deck of cards
 */

.deck {

    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;

}


.deck .card {

    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

}


.deck .card.open {

    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;

}


.deck .card.show {

    font-size: 33px;

}


.deck .card.match {

    cursor: default;
    background: #02ccba;
    font-size: 33px;

}


/*
 * Styles for the Score Panel
 */

.score-panel {

    text-align: left;
    width: 640px;
    margin-bottom: 10px;

}


.score-panel .stars,
.modal-footer .stars {

    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;

}


.score-panel .stars li,
.modal-footer .stars li {

    list-style: none;
    display: inline-block;

}


.score-panel .restart {

    float: right;
    cursor: pointer;
    text-align: center;
    width: 40px;

}


/*
*Styles for Modal
*/

.modal{

    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    display: none;

}


.modal-content{

    background-color: #fefefe;
    margin: 15% auto;
    width: 50%;

}


.modal-header,
.modal-footer {

    background-color: #dbff33;
    height: 10vh;
    padding-left: 1vw;
    padding-top: .1vw;
    font-size: 3vw;

}


.modal-header p {

    float: left;
    margin:0;

}


.btn-again {

    float: right;
    background-color: #fff;
    font-size: 2vw;

}


.btn-again:hover {

    background-color: #ccc;
}


.modal-body{

    height: 20vh;
    padding: 1.2vw;

}


@media screen and (max-width: 686px) {

    .score-panel {

        font-size: 3.5vw ;
        width: 85vw;

    }


    .deck {

        width: 95vw;
        height: 95vw;
        max-height: 100vh;
        min-height: 95vw;

    }


    .deck .card {

        height: 18vw;
        width: 18vw;
    }
}